.container {
	padding-top: 50px;
}

h2{
	padding-top: 20px;
	padding-bottom: 20px;
}
h5{
	padding-top: 20px;
	padding-bottom: 20px;
}
h3 {
    padding-top:  20px;
	padding-bottom: 20px;    
}

.codeTitle.first {
    padding-top: 0px;
}

.code {
    background-color: #f1f1f1;
    font-size: 90%;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    border-style: solid;
    border-width: 15px;
    border-color: #f1f1f1;
}

comment {
    color: grey;
}

.codeTitle {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;    
}